#char {
    display: flex;
    flex-direction: column;
    visibility: visible;
    align-items: center;
  } 
#photo {
  height:200px;
  width:200px;
}
.btnStyle {
  background: transparent;
  border: none;
  color: #01B4C6;
}