.player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -42px;
    z-index: 1;
    border: 10px solid black;
    border-radius: 10px;
  }

